@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.allfont {
    font-family: 'Anton', sans-serif;
}
#loginbt {
    padding-left: 20px;
}
#Firstlist {
    padding: 10px 0px 0px 15px;
}